streamlit
python-dotenv
numpy
requests
huggingface-hub==0.36.0
langchain-community==0.4.1
langchain-core==1.2.5
langchain-huggingface==1.2.0
langchain-chroma==1.1.0
sentence-transformers==5.2.0
chromadb==1.4.0
einops==0.8.1
